* {box-sizing: border-box;}
body {
    font-family: 'Open Sans', sans-serif;
}

.page {
    min-height: 100vh;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100vh;
        transition: .4s;
        will-change: width;
        float: right;
        background-color: #F2F1F6;
        &.no-sidebar {
            width: 100%;
        }
    }
}