.page {
    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #292c33;
        color: #FFF;
        padding: 15px;
        transition: .3s;
        &.no-sidebar {left: -250px;}
        .logo-area {
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom:15px;
        }
       .links-area {
            li {
                a {
                color:#CCC;
                padding: 10px 20px;
                display: block;
                text-decoration: none;
                transition: .3s;
                &:hover {
                    color: #FFF;
                }
                }
            }
            > li > a {
                position:relative;
                color:#FFF;
                &:before {
                    content:"";
                    position:absolute;
                    left:0;
                    top:50%;
                    width:10px;
                    height:10px;
                    border-radius:50%;
                    border: 2px solid #FFF;
                    transform: translateY(-50%);
                }
                &:hover {
                    padding-left: 25px;
                }
                &.active {
                    &:before {
                        border-color:#59af64;
                    }
                }
            }
            .child-links {
                position:relative;
                display:none;
                &:before {
                    content:"";
                    position:absolute;
                    left:3px;
                    top:0;
                    width:3px;
                    height:100%;
                    background-color: #666;
                }
                a {
                    position:relative;
                    &:hover:before {
                    content:"";
                    position:absolute;
                    left:3px;
                    top:0;
                    width:3px;
                    height:100%;
                    background-color: rgb(255, 255, 255);
                }
                }
            }
            .fa-sharp {
                float: right;
                position: relative;
                top: 0.5rem;
                font-size: .8rem;
                &.down {
                    transform: rotate(90deg);
                    transition: .2s;
                }
            }
       }
    }
}