- var pageTitle = 'Charts'
doctype html
html(lang="en")
    head
        include layout/meta
        include layout/links
    body 
        .page.home-page
            include Components/setting-box
            include layout/sidebar
            .content-area
                include layout/header
                .container-fluid 
                .content
                    include Components/page-head    
        include layout/scripts


