- var pageTitle = 'Ultimate'
doctype html
html(lang="en")
   head
      include layout/meta
      include layout/links
   body 
      .page.home-page 
         include layout/sidebar
         .content-area
            include layout/header
            .content
               h1 #{pageTitle}
               h2 Hiiii        
      include layout/scripts


